In [1]:
import helper_load

In [2]:
import nsfg 

df = nsfg.ReadFemPreg()

type(df)
len(df)

pandas.core.frame.DataFrame

13593

In [29]:
df[0:5]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [12]:
type(df.columns)
len(df.columns)

df.columns

pandas.core.indexes.base.Index

244

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [14]:
df.columns[0]
df.columns[1]

'caseid'

'pregordr'

In [40]:
preg_order = df['pregordr']  

preg_order.__class__
preg_order[0:5]

pandas.core.series.Series

0    1
1    2
2    1
3    2
4    3
Name: pregordr, dtype: int64

### Variables
- Do note that there's some vars are ***recodes***,
- which means that they are actually being *calculate*d **using** the raw data.

In [63]:
last_three = slice(-3, -1)

df['prglngth'][last_three]  # pregancy's length
df['wksgest'][last_three]   # weeks of gestation (the raw one)

13590     5
13591    39
Name: prglngth, dtype: int64

13590     5.0
13591    39.0
Name: wksgest, dtype: float64

Just curious ...

In [64]:
# Alright ...

sorted(df['agepreg'])[0:3]
sorted(df['agepreg'])[-4:-1]

[12.91, 14.0, 14.33]

[36.5, 37.5, 38.0]

calc stuff

In [62]:
# Oh! These 2 vals are with each other! 

df['birthwgt_lb'][0:3]  # 1kg == 2.2    pounds 
df['birthwgt_oz'][0:3]  # 1kg == 35.274 ounces

0    8.0
1    7.0
2    9.0
Name: birthwgt_lb, dtype: float64

0    13.0
1    14.0
2     2.0
Name: birthwgt_oz, dtype: float64

In [72]:
# Put the 2 vals together

df['totalwgt_lb'] = (
    df.birthwgt_lb +       # Q: why 16? 
    df.birthwgt_oz / 16.0  # A: 1lb == 16 ounces
)

df['totalwgt_lb'][0:3]

0    8.8125
1    7.8750
2    9.1250
Name: totalwgt_lb, dtype: float64

### validation
- Checking this with the data report.

In [78]:
df['outcome'].value_counts(sort=False)

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [85]:
# That werid data has gone (a 50lb baby!)
#   why? that data has been cleaned out before reading it

# That's a basic part of <data cleaning>.
#   It's the 'CleanFemPreg' func 
#     which was invoked by 'ReadFemPreg'.

df['birthwgt_lb'].value_counts(sort=False)

8.0     1889
7.0     3049
6.0     2223
4.0      229
5.0      697
10.0     132
12.0      10
14.0       3
3.0       98
1.0       40
2.0       53
0.0        8
9.0      623
11.0      26
13.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

### interpretation

In [92]:
max(df['pregnum'])  # okay..

19